<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirvana-Biografia</title>
    <link rel="stylesheet" href="../css/biografia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="../css/estilo.css" rel="stylesheet">
</head>

<body>
    <!-- INICIO ENCABEZADO -->
    <div class="contenedorPadre">
        <header class="gridHeader">
            <!-- LOGO -->
            <div class="headerLogo">
                <a href="../index.html"><img src="../assets/img/nirvanalogoo-removebg-preview.png" alt="logo"
                        class="logoEncabezado"></a>
            </div>
            <!-- CIERRE LOGO -->
            <!-- INICIO NAV -->
            <nav class="navbar">
                <!-- lista no ordenada -->
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="#">BIOGRAFIA</a></li>
                    <li><a href="discografia.html">DISCOGRAFIA</a></li>
                    <li><a href="videos.html">VIDEOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <!-- CIERRE NAV -->
        </header>
    </div>
    <!-- CIERRE ENCABEZADO -->
    <!-- INICIO CONTENIDO -->
    <main class="mainBio">
        <div>
            <h1 class="txtbio">BIOGRAFIA</h1>
        </div>
        <div class="cardBio card__background">
            <p>Banda de rock estadounidense formada hacia 1986 por Kurt Cobain y Krist Novoselic. A pesar de su corta
                existencia como grupo, y del suicidio de Cobain en 1994, su música cosechó un tremendo éxito en todo el
                mundo, hasta el punto de que Nirvana fue considerada una de las mejores bandas de rock de la época y la
                abanderada del movimiento Grunge.</p>

            <p>En 1988 grabaron una maqueta y el sello Sub Pop les ofreció grabar un sencillo. Casi al mismo tiempo que
                se producían cambios en el asiento del batería; el puesto lo ocupó definitivamente Chad Channing. Love
                Buzz se editó en noviembre de ese año, y en junio de 1989 vio la luz Bleach, el primer álbum de la
                banda, fresco y amargo a la vez, producido por el gurú Jack Endino. Ese mismo año se les unió Jason
                Everman como segundo guitarra, unión efímera de sólo unos meses, y poco después se embarcaron en una
                gira por Europa con TAD.
            </p>
            <p>En mayo de 1990, al final de la gira americana, Channing dejó el grupo. Después de estos cambios, Dave
                Grohl ocuparía finalmente este puesto, tras editar un single, Sliver, en el que todavía tocaba Channing
                en una cara y en la otra, Dan Peters, de Mudhoney. También marcó su primera colaboración con el
                productor Butch Vig, otro gurú de la después llamada "movida Grunge", y más conocido últimamente por su
                nuevo grupo, Garbage.</p>

            <p>Con Butch Vig grabaron su primer álbum para Geffen, Nevermind, editado en septiembre de 1991, que
                tardaría menos de un mes en vender medio millón de copias en USA. El vídeo del primer single extraído
                del larga duración Smells like teen spirit fue emitido masivamente por la MTV, contribuyendo a su rápida
                expansión por el globo. El álbum llegó a número uno en las listas de Estados Unidos en enero de 1992.
            </p>
            <p>Poco después, Kurt Cobain se casó con Courtney Love, líder de la banda Hole. Realizaron giras en verano
                por Europa (por entonces nació Frances Bean, hija del matrimonio) y comenzaron a grabar su próximo
                trabajo a finales de ese año con el legendario Steve Albini. Este productor y músico norteamericano, que
                había militado en Big Black y formó después Rapeman, había producido a infinidad de bandas, como The
                Breeders o Pixies, antes de trabajar con el trío.
            </p>
            <p>
                El final del año 1993 y el principio de 1994 fue tumultuoso, con llamadas a la policía desde su casa de
                Seattle y con un ingreso en un hospital de Roma, preludios claros del fatal desenlace: el suicidio de
                Cobain en Seattle, en abril de 1994. Nirvana dejó de existir como grupo, y aunque algún tiempo más tarde
                Krist Novoselic volvió a empezar desde abajo con un nuevo grupo llamado Sweet 75, con el cual trabajó
                con total independencia, nunca llegó a obtener gran repercusión internacional.
            </p>
            <p>
                En 1995 Dave Grohl decidió seguir adelante por su cuenta, y grabó en solitario lo que sería su primer
                álbum con un nuevo grupo. A finales de 2004, tras los interminables pleitos entre los supervivientes de
                Nirvana (Novoselic, Grohl, la viuda de Cobain, Courtney Love, y la discográfica propietaria de los
                derechos de las canciones), vio la luz With the lights out, un álbum con sesenta y ocho temas inéditos,
                entre ensayos y grabaciones domésticas del grupo, que colocó de nuevo a Nirvana en las primeras páginas
                de la prensa musical de todo el mundo.
            </p>
        </div>
        <div class="imgBio imgGrid card__background">
            <img src="../assets/img/nirvana_biografia.png" alt="Nirvana concierto" class="img1">
            <img src="../assets/img/nirvanabiografia.png" alt="Nirvana grupo" class="img2">
        </div>
    </main>
    <!-- CIERRE CONTENIDO -->
    <!--APERTURA FOOTER -->
    <footer class="gridFooter">
        <div class="txt">
            <h6 class="footertext">Página sin fines de lucro ni comerciales</h6>
        </div>
        <div class="footerImg">
            <img src="../assets/img/youtube.png" alt="logo youtube" class="logofoot">
            <img src="../assets/img/logo-de-facebook.png" alt="logo facebook" class="logofoot">
            <img src=" ../assets/img/instagram.png" alt="logo instagram" class="logofoot">
        </div>
    </footer>

    <!-- CIERRE FOOTER -->
</body>

</html>