<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirvana-Discografia</title>
    <link rel="stylesheet" href="../css/discografia.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="../css/estilo.css" rel="stylesheet">
</head>

<body>
    <!-- INICIO ENCABEZADO -->
    <div class="contenedorPadre">
        <header class="gridHeader">
            <!-- LOGO -->
            <div class="headerLogo">
                <a href="../index.html"><img src="../assets/img/nirvanalogoo-removebg-preview.png" alt="logo"
                        class="logoEncabezado"></a>
            </div>
            <!-- CIERRE LOGO -->
            <!-- INICIO NAV -->
            <nav class="navbar">
                <!-- lista no ordenada -->
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="biografia.html">BIOGRAFIA</a></li>
                    <li><a href="#">DISCOGRAFIA</a></li>
                    <li><a href="videos.html">VIDEOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <!-- CIERRE NAV -->
        </header>
    </div>
    <!-- CIERRE ENCABEZADO -->
    <!-- INICIO CONTENIDO -->
    <main class="maindisco">
        <div>
            <h1 class="txtdisco">DISCOGRAFIA</h1>
        </div><br>
        <div class="albumBleach">
            <img src="../assets/img/bleachalbum.png" alt="bleach portada" class="portada1"><br>
            <table class="tabla1">
                <tr>
                    <td></td>
                    <td class="tabla__encabezado"><b>LISTADO DE CANCIONES</b></td>
                </tr>
                <tr class="cancion">
                    <td>1.</td>
                    <td>Blew</td>
                </tr>
                <tr class="cancion">
                    <td>2.</td>
                    <td>Floyd The Barber</td>
                </tr>
                <tr class="cancion">
                    <td>3.</td>
                    <td>About A Girl</td>
                </tr>
                <tr class="cancion">
                    <td>4.</td>
                    <td>School</td>
                </tr>
                <tr class="cancion">
                    <td>5.</td>
                    <td>Love Buzz</td>
                </tr>
                <tr class="cancion">
                    <td>6.</td>
                    <td>Paper Cuts</td>
                </tr>
                <tr class="cancion">
                    <td>7.</td>
                    <td>Paper Cuts</td>
                </tr>
                <tr class="cancion">
                    <td>8.</td>
                    <td>Scoff</td>
                </tr>
                <tr class="cancion">
                    <td>9.</td>
                    <td>Swap Meet</td>
                </tr>
                <tr class="cancion">
                    <td>10.</td>
                    <td>Mr. Moustache</td>
                </tr>
                <tr class="cancion">
                    <td>11.</td>
                    <td>Sifting</td>
                </tr>
                <tr class="cancion">
                    <td>12.</td>
                    <td>Big Cheese</td>
                </tr>
                <tr class="cancion">
                    <td>13.</td>
                    <td>Downer</td>
                </tr>
            </table>
        </div><br>

        <div class="albumNevermind">
            <img src="../assets/img/nevermindalbum.png" alt="bleach portada" class="portada2">

            <table class="tabla2">
                <tr>
                    <td></td>
                    <td class="tabla__encabezado"><b>LISTADO DE CANCIONES</b></td>
                </tr>
                <tr class="cancion">
                    <td>1.</td>
                    <td>Smells Like Teen Spirit</td>
                </tr>
                <tr class="cancion">
                    <td>2.</td>
                    <td>In Bloom</td>
                </tr>
                <tr class="cancion">
                    <td>3.</td>
                    <td>Come As You Are</td>
                </tr>
                <tr class="cancion">
                    <td>4.</td>
                    <td>Breed</td>
                </tr>
                <tr class="cancion">
                    <td>5.</td>
                    <td>Lithium</td>
                </tr>
                <tr class="cancion">
                    <td>6.</td>
                    <td class="cancion">Polly</td>
                </tr>
                <tr class="cancion">
                    <td>7.</td>
                    <td>Territorial Pissings</td>
                </tr>
                <tr class="cancion">
                    <td>8.</td>
                    <td>Drain You</td>
                </tr>
                <tr class="cancion">
                    <td>9.</td>
                    <td>Lounge Act</td>
                </tr>
                <tr class="cancion">
                    <td>10.</td>
                    <td>Stay Away</td>
                </tr>
                <tr class="cancion">
                    <td>11.</td>
                    <td>On A Plain</td>
                </tr>
                <tr class="cancion">
                    <td>12.</td>
                    <td>Something In The Way</td>
                </tr>
            </table>
        </div>
        <div class="albumInutero">
            <img src="../assets/img/inuteroalbum.png" alt="bleach portada" class="portada3">
            <table class="tabla3">
                <tr>
                    <td></td>
                    <td class="tabla__encabezado"><b>LISTADO DE CANCIONES</b></td>
                </tr>
                <tr class="cancion">
                    <td>1.</td>
                    <td>Serve The Servants</td>
                </tr>
                <tr class="cancion">
                    <td>2.</td>
                    <td>Scentless Apprentice</td>
                </tr>
                <tr class="cancion">
                    <td>3.</td>
                    <td>Heart Shaped Box</td>
                </tr>
                <tr class="cancion">
                    <td>4.</td>
                    <td>Rape Me</td>
                </tr>
                <tr class="cancion">
                    <td>5.</td>
                    <td>Frances Farmer Will Have Her Revenge On Seattle</td>
                </tr>
                <tr class="cancion">
                    <td>6.</td>
                    <td>Dumb</td>
                </tr>
                <tr class="cancion">
                    <td>7.</td>
                    <td>Very Ape</td>
                </tr>
                <tr class="cancion">
                    <td>8.</td>
                    <td>Milk It</td>
                </tr>
                <tr class="cancion">
                    <td>9.</td>
                    <td>Pennyroyal Tea</td>
                </tr>
                <tr class="cancion">
                    <td>10.</td>
                    <td>Radio Friendly Unit Shifter</td>
                </tr>
                <tr class="cancion">
                    <td>11.</td>
                    <td>Tourette's</td>
                </tr>
                <tr class="cancion">
                    <td>12.</td>
                    <td>All Apologies</td>
                </tr>
            </table>
        </div>
    </main>
    <!-- CIERRE CONTENIDO -->
    <!--APERTURA FOOTER -->
    <footer class="gridFooter">
        <div class="txt">
            <h6 class="footertext">Página sin fines de lucro ni comerciales</h6>
        </div>
        <div class="footerImg">
            <img src="../assets/img/youtube.png" alt="logo youtube" class="logofoot">
            <img src="../assets/img/logo-de-facebook.png" alt="logo facebook" class="logofoot">
            <img src="../assets/img/instagram.png" alt="logo instagram" class="logofoot">
        </div>
    </footer>

    <!-- CIERRE FOOTER -->
</body>

</html>