<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nirvana-Videos</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>

<body>
    <!-- INICIO ENCABEZADO -->
    <div class="contenedorPadre">
        <header class="gridHeader">
            <!-- LOGO -->
            <div class="headerLogo">
                <a href="../index.html"><img src="../assets/img/nirvanalogoo-removebg-preview.png" alt="logo"
                        class="logoEncabezado"></a>
            </div>
            <!-- CIERRE LOGO -->
            <!-- INICIO NAV -->
            <nav class="navbar">
                <!-- lista no ordenada -->
                <ul>
                    <li><a href="../index.html">INICIO</a></li>
                    <li><a href="biografia.html">BIOGRAFIA</a></li>
                    <li><a href="discografia.html">DISCOGRAFIA</a></li>
                    <li><a href="#">VIDEOS</a></li>
                    <li><a href="contacto.html">CONTACTO</a></li>
                </ul>
            </nav>
            <!-- CIERRE NAV -->
        </header>
    </div>

    <!-- CIERRE ENCABEZADO -->
    <!-- INICIO CONTENIDO -->
    <main class="mainvid">
        <div>
            <h1 class="txtvid">VIDEOS</h1>
        </div>
        <div class="video1">
            <h2 class="titulo">SMELLS LIKE TEEN SPIRIT</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/q2V7dYKANGA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscree class="video1"></iframe>
        </div>
        <div class="video2">
            <h2 class="titulo">COME AS YOU ARE</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/KbIT40LD2iA?start=6"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video2"></iframe>
        </div>
        <div class="video3">
            <h2 class="titulo">THE MAN WHO SOLD THE WORLD</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/hiL54j2RNew?start=6"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video3"></iframe>
        </div>


        <div class="video4">
            <h2 class="titulo">HEART-SHAPED BOX</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/iOmPd3Da6lY?start=6"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video4"></iframe>
        </div>
        <div class="video5">
            <h2 class="titulo">LITHIUM</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/_A7Q7D54-CY?start=6"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video5"></iframe>
        </div>
        <div class="video6">
            <h2 class="titulo">IN BLOOM</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jZ-2oLhSulc?start=6"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video6"></iframe>
        </div>

        <div class="video7">
            <h2 class="titulo">ABOUT A GIRL</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/AiMwlJrn0_M?start=6"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video7"></iframe>
        </div>
        <div class="video8">
            <h2 class="titulo">ALL APOLOGIES</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/bZhf65FAzYM?start=6"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video8"></iframe>
        </div>
        <div class="video9">
            <h2 class="titulo">SLIVER</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uZy3EOq-OjE?start=4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen class="video9"></iframe>
        </div>
    </main>
    <!-- CIERRE CONTENIDO -->
    <!--APERTURA FOOTER -->
    <footer class="gridFooter">
        <div class="txt">
            <h6 class="footertext">Página sin fines de lucro ni comerciales</h6>
        </div>
        <div class="footerImg">
            <img src="../assets/img/youtube.png" alt="logo youtube" class="logofoot">
            <img src="../assets/img/logo-de-facebook.png" alt="log facebook" class="logofoot">
            <img src="../assets/img/instagram.png" alt="logo instagram" class="logofoot">
        </div>
    </footer>

    <!-- CIERRE FOOTER -->
</body>

</html>